.login {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    form {
        max-width: 300px;
        width: 100%;
        margin-top: 20px;
        display: flex;
        gap: 10px;
        flex-direction: column;

label {
  position: relative;
  border-radius: 10px;
  width: 100%;
  display: flex;
  gap: 2px;
  flex-direction: column;

  span {
    font-size: 14px;
  }

  input {
    border-radius: inherit;
    width: 100%;
    font-size: 16px;
    padding: 10px 20px;
  }

  &::after,
  &::before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    top: 35%;
    background-image: url(../../shared/icons/arrow.svg);
    background-size: contain;
    filter: invert(1);
    opacity: 0;
  }

  &::after {
    left: -30px;
  }

  &::before {
    right: -30px;
    transform: rotate(180deg);
  }

  &:focus-within::after,
  &:focus-within::before {
    opacity: 1;
    // animation: blink 2s infinite;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}


        button {
            cursor: pointer;
            background: var(--color-primary);
            color: var(--white);
            padding: 10px 20px;
            border-radius: 10px;

        }
    }
}