.qrBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
p{
    font-size: 20px;
}
    .online {
        color: green;
    }
    .offline {
        color: red;
    }
}