.sideBar {
  
  min-width: 236px;
  min-height: 100vh;

  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: center;
    background-color: var(--white);
  }

  .nav {
    height: 100%;
    padding: 30px 20px;
    background: var(--color-primary);
  }


}
