:root {
  --color-primary: #141414;
  --color-secondary: #00c65e;
  --grey: #ffffff1a;
  --white: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background: var(--white);
}

main {
  width: 100%;
  margin-top: 102px;
  display: flex;
  gap: 82px;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}